* {
    box-sizing: border-box;
    font-family: 'Almendra', serif;
    margin: 0;
}
body {
    background-image: url('roma.jpg');
    background-color: rgb(105, 105, 105);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
    
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.container div {
    margin: 20px;
    padding: 10px;
}
.container div button {
    padding: 40px;
    border: none;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(53, 53, 104, 0.8);
    color: whitesmoke;
    text-shadow: white;
    font-size: 24px;
    font-weight: 700;
}
.container div button:disabled {
    background-color: rgba(124, 124, 124, 0.8);
    color: darkgrey;
}
.container div button:hover:enabled {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.value {
    margin:auto;
    width: 50%;
    background-color: rgba(255,255,255,0.5);
}
.value p {
    color:dimgray;
    font-size: 36px;

}

@media screen and (max-width: 800px) {
    .container div {
        margin: 5px;
        margin-top: 50px;
        padding: 2px;
    }
    .container div button {
        padding: 20px;
    }
    .container div button {
        background-color: darkkhaki;
    }
}
@media screen and (max-width: 480px) {
    .value p {
    font-size: 18px;
    }
}